$bg-color: #d4f4f4;
$dark-color: #1d2d2d;
$accent-color: #e29b04;

.item-carrito {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
    .titulo-curso {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .info-container {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        
        .details-container {
            flex: 1;
            
            p {
                margin-bottom: 5px;
            }
      }
      
      .img-container {
          margin-left: 20px;
        }
        
        .img-item {
            width: 100px;
            height: 100px;
            margin-right: 20px;
    }
    
    .parrafo {
        font-size: large;
        margin-top: 1%;
    }
    
    .bold-word {
        font-weight: bold;
    }
}
.trash {
    cursor: pointer;
        font-size: 20px;
        color: red;
        align-self: flex-end;
    }

    .btn {
        margin-top: 10px;
    }
}

.botones {
    margin-top: 2%;
}

.boton2 {
    margin-right: 1%;
}

.texto-final {
    color: red;
    font-size: large;
    padding-top: 4%;
}