$bg-color: #d4f4f4;
$dark-color: #1d2d2d;
$accent-color: #e29b04;

.detalles {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $bg-color;
}

.texto {
    background-color: $bg-color;
    font-size:large;
    padding-left: 2%;
    padding-right: 2%;
}

.list {
    margin-bottom: 2%;
    background-color: $bg-color;
}

.list-item {
    background-color: $bg-color;
    color: $dark-color;
    font-size:large;
    border: none;
    text-align: center;
}

.bold-word {
    font-weight: bold;
    background-color: $bg-color;
  }
