$bgNavbar-color: #1d2d2d;

.cartWidget {
    background-color: $bgNavbar-color;
}

.carrito {
    max-width: 45px;
    max-height: 45px;
    height: auto;
    width: auto;
    border-radius:50px;
}

.span {
    background-color: $bgNavbar-color;
}