.bienvenida {
    text-align: center;
}

.bienvenida-usuario {
    font-size: x-large;
    text-align: center;
    font-weight:500;
}

.bienvenida-texto {
    font-size: larger;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
