.titulo2 {
    margin-top: 4%;
    margin-bottom: 2%;
}

.btn {
    margin-top: 2%;
}

.text {
    font-size: large;
}

.text-orden {
    font-size: large;
    text-decoration:underline;
    font-weight: lighter;
}

.error-message-checkout {
    color: red;
    background-color: #d4f4f4;
}