.footer {
    background-color: #1d2d2d;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerp {
    background-color: #1d2d2d;
    color: #fff;
    padding-left: 3%;
}
